{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid vh-100">
  <div class="row h-100">
    <!-- Form -->
    <div class="col-6">
        <h4 class="design-input-form">Design Parameters</h4>
        <form method="POST" action="{% url 'compressor' %}">
            {% csrf_token %}
             
            {% if compressor_parameters %}
        
              <!-- Massic Flow (kg/s) -->
              <div class="mb-3">
                <label for="m" class="form-label">m - Massic Flow (Kg/s) </label>
                <input type="number" step="any" class="form-control design-control" id="m" name="m" value="{{compressor_parameters.m}}" readonly>
              </div>

              <!-- W_total (Kw) -->
              <div class="mb-3">
                <label for="W_total" class="form-label">W_total (Kw)</label>
                <input type="number" step="any" class="form-control design-control" id="W_total" name="W_total" value="{{compressor_parameters.W_total}}" readonly>
              </div>

              <!-- P_real (Kw) -->
              <div class="mb-3">
                <label for="P_real" class="form-label">P_real (Kw)</label>
                <input type="number" step="any" class="form-control design-control" id="P_real" name="P_real" value="{{compressor_parameters.P_real}}" readonly>
              </div>

              <!-- Hidden variables -->
              <div class="mb-3">
                <input type="hidden" step="any" class="form-control" id="compressor_payload" name="compressor_payload" value="{{compressor_payload}}" readonly>
              </div>

              <div class="mb-3">
                <input type="hidden" step="any" class="form-control" id="publish_mode" name="publish_mode" value="true" readonly>
              </div>

              <div class="text-center">
                 <button id="publish" type="submit" value="" class="btn btn-success width-45 mt-2">Publish</button>
              </div>
          {% endif%}   
          </form>

        
       <p class="notes">
          <strong>Output Parameters:</strong>  
          The compressor outputs include key performance parameters.
          Massic flow (kg/s) indicates the mass of gas passing through per second.
          Final Pressure (P2) shows the pressure at the compressor outlet.
          W_total (kJ) represents the total work input required for compression.
          P_real (W) is the actual power consumption during operation.
      </p>
      <h5 class="text-center mt-4 text-danger">
          {{error}}
      </h5>
      <h5 class="text-center mt-4 text-success">
          {{success}}
      </h5>
    </div>

    <!-- Images/3D representation -->

    <div class="col-6 d-flex flex-column h-100 p-0">
      <div id="compressor" style="width: 100%; height: 700px;"></div>  
    </div>

  </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'js/compressor.js' %}"></script>
{% endblock %}