{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid vh-100">
  <div class="row h-100">
    <!-- Form -->
    <div class="col-6">
        <h4 class="design-input-form">Design Parameters</h4>
          <form method="POST" action="{% url 'distillator_column' %}">
              {% csrf_token %}
              {% if distillator_parameters and distillator_payload %}

              <!-- Initial Pressure -->
              <div class="mb-3">
                  <label for="P_in" class="form-label">P_in - Initial Pressure (Pa)</label>
                  <input type="number" step="any" class="form-control" id="P_in" name="P_in" value="{{distillator_parameters.P_in}}" readonly>
              </div>

              <!-- Initial Temperature -->
              <div class="mb-3">
                  <label for="T_in" class="form-label">T_in - Initial Temperature (K)</label>
                  <input type="number" step="any" class="form-control" id="T_in" name="T_in" value="{{distillator_parameters.T_in}}" readonly>
              </div>

              <!-- N2 Concentration -->
              <div class="mb-3">
                  <label for="N2" class="form-label">N2_out Concentration (%)</label>
                  <input type="number" step="any" class="form-control" id="N2" name="N2" value="{{distillator_parameters.N2_out}}" readonly>
              </div>

              <!-- H2 Concentration -->
              <div class="mb-3">
                  <label for="H2" class="form-label">H2_out Concentration (%)</label>
                  <input type="number" step="any" class="form-control" id="H2" name="H2" value="{{distillator_parameters.H2_out}}" readonly>
              </div>

              <!-- O2 Concentration -->
              <div class="mb-3">
                  <label for="O2" class="form-label">O2_out Concentration (%)</label>
                  <input type="number" step="any" class="form-control" id="O2" name="O2" value="{{distillator_parameters.O2_out}}" readonly>
              </div>

              <!-- Efficiency -->
              <div class="mb-3">
                  <label for="efficiency" class="form-label">Efficiency</label>
                  <input type="number" step="any" class="form-control" id="efficiency" name="efficiency" value="{{distillator_parameters.Efficiency}}" readonly>
              </div>

              <!-- Hidden variables -->
              <div class="mb-3">
                <input type="hidden" step="any" class="form-control" id="compressor_payload" name="distillator_payload" value="{{distillator_payload}}" readonly>
              </div>

              <div class="mb-3">
                <input type="hidden" step="any" class="form-control" id="publish_mode" name="publish_mode" value="true" readonly>
              </div>

              <div class="text-center ">
                  <button id = "publish" type="submit" class="btn btn-success width-45 mt-2">Publish</button>
              </div>
        {% endif%}   
        </form>
        

        <p class="notes"><strong>Output parameters: </strong>The inputs on this screen define the operating conditions for the distillation column design calculation.
                        'P_in' and 'T_in' are the initial pressure and temperature of the feed.
                        'Flow Rate', 'Energy Consumed', and 'Efficiency' describe the process and energy performance.
                        These values are used to predict the output composition of N2, O2, and Ar from the column.</p>
        <h5 class="text-center mt-4 text-danger">
            {{error}}
        </h5>
        <h5 class="text-center mt-4 text-success">
            {{success}}
        </h5>
    </div>

    <!-- Images/3D representation -->

    <div class="col-6 d-flex flex-column h-100 p-0">
      <div id="distillationColumn" style="width: 100%; height: 700px;"></div>  
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'js/distillation_column.js' %}"></script>
{% endblock %}