{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid vh-100">
  <div class="row h-100">

    <!-- Form -->

    <div class="col-6">
        <h4 class="design-input-form">Design Parameters</h4>
        <form method="POST" action="{% url 'heat_exchanger' %}">
            {% csrf_token %}
            {% if heat_exchanger_parameters and heat_exchanger_payload %}
            
            <div class="row">
             <!-- Column 1 -->
              <div class="col-6">

                  <!-- Heat transfered (Q) -->
      
                  <div class="mb-3">
                      <label for="Q_air" class="form-label">Q - Heat transfered (J/s)</label>
                      <input type="number" step="any" class="form-control design-control" id="Q_air" name="Q_air" value="{{heat_exchanger_parameters.Q_air}}" readonly>
                  </div>

                  <!-- Nitrogen Air Flow (Q_nitrogen) -->
      
                  <div class="mb-3">
                      <label for="Q_nitrogen" class="form-label">Q Nitrogen - Nitrogen Air Flow (J/s)</label>
                      <input type="number" step="any" class="form-control design-control" id="Q_nitrogen" name="Q_nitrogen" value="{{heat_exchanger_parameters.Q_air}}" readonly>
                  </div>

                  <!-- Heater Temperature Variation (delta_T_ml)-->
      
                  <div class="mb-3">
                      <label for="delta_T_ml" class="form-label">delta_T_ml - Heater Temperature Variation (K)</label>
                      <input type="number" step="any" class="form-control design-control" id="delta_T_ml" name="delta_T_ml" value="{{heat_exchanger_parameters.delta_T_ml}}" readonly>
                  </div>

                  <!-- Cooling Mass Flow (m cooling) -->
      
                  <div class="mb-3">
                      <label for="m_cooling" class="form-label">m cooling - Cooling Mass Flow (kg/s)</label>
                      <input type="number" step="any" class="form-control design-control" id="m_cooling" name="m_cooling" value="{{heat_exchanger_parameters.m_cooling}}" readonly>
                  </div>

                  <!-- Tubes Area (A_tubes) -->
      
                  <div class="mb-3">
                      <label for="A_tubes" class="form-label">A_tubes - Tubes Area (m2) </label>
                      <input type="number" step="any" class="form-control design-control" id="A_tubes" name="A_tubes" value="{{heat_exchanger_parameters.A_tubes}}" readonly>
                  </div>

                  <!-- Air Speed (v_air) -->
      
                  <div class="mb-3">
                      <label for="v_air" class="form-label">v_air - Air Speed (m/s)</label>
                      <input type="number" step="any" class="form-control design-control" id="v_air" name="v_air" value="{{heat_exchanger_parameters.v_air}}" readonly>
                  </div>

                  <!-- Reynolds Air -->
       
                  <div class="mb-3">
                      <label for="reynolds_air" class="form-label">Reynolds air - (adimensional)</label>
                      <input type="number" step="any" class="form-control design-control" id="reynolds_air" name="reynolds_air" value="{{heat_exchanger_parameters.reynolds_air}}" readonly>
                  </div>

              </div>

              <!-- Column 2 -->
              <div class="col-6">

                  <!-- Air Friction factor (f_air) -->
                  <div class="mb-3">
                      <label for="f_air" class="form-label">f_air Friction factor (adimensional)</label>
                      <input type="number" step="any" class="form-control design-control" id="f_air" name="f_air" value="{{heat_exchanger_parameters.f_air}}" readonly>
                  </div>

                  <!-- Pressure fall down (delta_P_air) -->
                  <div class="mb-3">
                      <label for="n" class="form-label">delta_P_air - Pressure fall down (Pa)</label>
                      <input type="number" step="any" class="form-control design-control" id="delta_P_air" name="delta_P_air" value="{{heat_exchanger_parameters.delta_P_air}}" readonly>
                  </div>

                  <!-- Nitrogen Pressure (delta_P_nitrogen) -->
                  <div class="mb-3">
                      <label for="delta_P_nitrogen" class="form-label">delta_P_nitrogen - Nitrogen Pressure (Pa)</label>
                      <input type="number" step="any" class="form-control design-control" id="delta_P_nitrogen" name="delta_P_nitrogen" value="{{heat_exchanger_parameters.delta_P_nitrogen}}" readonly>
                  </div>

                  <!-- Nitrogen Volume -->
                  <div class="mb-3">
                      <label for="v_nitrogen" class="form-label">v_nitrogen - Nitrogen Volume (m/s)</label>
                      <input type="number" step="any" class="form-control design-control" id="v_nitrogen" name="v_nitrogen" value="{{heat_exchanger_parameters.v_nitrogen}}" readonly>
                  </div>

                  <!-- Reynolds Nitrogen -->
                  <div class="mb-3">
                      <label for="reynolds_nitrogen" class="form-label">Reynolds Nitrogen (adimensional)</label>
                      <input type="number" step="any" class="form-control design-control" id="reynolds_nitrogen" name="reynolds_nitrogen" value="{{heat_exchanger_parameters.reynolds_nitrogen}}" readonly>
                  </div>

                  <!-- Nitrogen Friction Factor (f_nitrogen) -->
                  <div class="mb-3">
                      <label for="f_nitrogen" class="form-label">f_nitrogen - N2 Friction Factor (adimensional)</label>
                      <input type="number" step="any" class="form-control design-control" id="f_nitrogen" name="f_nitrogen" value="{{heat_exchanger_parameters.f_nitrogen}}" readonly>
                  </div>
                
                  <!-- Hidden variables -->

                  <div class="mb-3">
                    <input type="hidden" step="any" class="form-control" id="heat_exchanger_payload" name="heat_exchanger_payload" value="{{heat_exchanger_payload}}" readonly>
                  </div>

                  <div class="mb-3">
                    <input type="hidden" step="any" class="form-control" id="publish_mode" name="publish_mode" value="true" readonly>
                  </div>

              </div>
            </div>

            <div class="text-center pt-4">
                <button id = "publish" type="submit" class="btn btn-success width-45 mt-2">Publish</button>
            </div>
        {% endif%}   
        </form>



        <p class="notes">
        <strong>Output parameters: </strong> Heat transfer, mass flow, and pressure drops across both air and nitrogen.  
        These outputs help determine flow velocity, Reynolds numbers, and friction factors for both fluids.  
        </p>

        <h5 class="text-center mt-4 text-danger">
            {{error}}
        </h5>
        <h5 class="text-center mt-4 text-success">
            {{success}}
        </h5>

    </div>

    <!-- Images/3D representation -->

    <div class="col-6 d-flex flex-column h-100 p-0">
      <div id="heatExchanger" style="width: 100%; height: 700px;"></div>  
    </div>

  </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'js/heat_exchanger.js' %}"></script>
{% endblock %}