{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid vh-100">
  <div class="row h-100">
    <!-- Form -->
    <div class="col-6">
        <h4 class="design-input-form">Design Parameters</h4>
        <form method="POST" action="{% url 'valve_joule_thompson' %}">
            {% csrf_token %}
            {% if joule_thompson_valve_parameters %}
            <div class="row">
                <!-- Single column form inputs -->
                <div class="col-12">

                    <!-- Inlet Pressure -->
                    <div class="mb-3">
                        <label for="P_in" class="form-label">Inlet Pressure (P_in)</label>
                        <input type="number" step="any" class="form-control" id="P_in" name="P_in" placeholder="{{joule_thompson_valve_parameters.P_in}} Pa" disabled>
                    </div>

                    <!-- Inlet Temperature -->
                    <div class="mb-3">
                        <label for="T_in" class="form-label">Inlet Temperature (T_in)</label>
                        <input type="number" step="any" class="form-control" id="T_in" name="T_in" placeholder="{{joule_thompson_valve_parameters.T_in}} K" disabled>
                    </div>

                    <!-- Outlet Pressure -->
                    <div class="mb-3">
                        <label for="P_out" class="form-label">Outlet Pressure (P_out)</label>
                        <input type="number" step="any" class="form-control" id="P_out" name="P_out" placeholder="{{joule_thompson_valve_parameters.P_out}} Pa" disabled>
                    </div>

                    <!-- Outlet Temperature -->
                    <div class="mb-3">
                        <label for="T_out" class="form-label">Outlet Temperature (T_out)</label>
                        <input type="number" step="any" class="form-control" id="T_out" name="T_out" placeholder="{{joule_thompson_valve_parameters.T_out}} K" disabled>
                    </div>

                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary w-50 mt-2">Calculate</button>
                <button id = "publish" type="submit" class="btn btn-success width-45 mt-2">Publish</button>
            </div>
            {% endif%}   
        </form>

        <p class="notes"><strong>Note: </strong>The inputs on this screen define the inlet and outlet conditions for the Joule-Thompson valve.
                        'Gas', 'P_in', and 'T_in' describe the initial gas state, while 'P_out' sets the target pressure.
                        These values are used to calculate the resulting outlet temperature and pressure.
                        The results help in assessing the cooling effect and sizing of the valve.</p>
    </div>

    <!-- Images/3D representation -->

    <div class="col-6 d-flex flex-column h-100 p-0">
      <div id="valveJouleThompson" style="width: 100%; height: 700px;"></div>  
    </div>

  </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'js/valve_joule_thompson.js' %}"></script>
{% endblock %}
