{% load static %}

<div class="text-center" >
    <br/><br/><br/><br/><br/>
    <h1>Equipment simulator App</h1>
    <p>Please sign in to the application and manage your Items</p>    
    
    <p class="app-description">This Django-based digital twin PoC models an Air Separation Unit (ASU) process.
    It simulates key stages such as air compression, cooling, and cryogenic distillation.
    The application uses sample or historical process data instead of live sensors.
    Operators can explore process changes and predict product purity virtually.
    Predictive analytics demonstrate potential equipment behavior and maintenance needs.
    Interactive dashboards display process trends, KPIs, and alerts for testing purposes.
    Historical datasets allow analysis and validation of process performance.
    The platform is modular and can integrate with real systems in the future.
    It helps visualize, simulate, and understand ASU operations without affecting a real plant.
    Overall, it provides a clear, interactive PoC for process monitoring and optimization.</p>
    <img class="pt-3" src="{% static 'img/asuLandingImage.jpg' %}" alt="">
</div>